
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
  }
  .gif-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .gif-background img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  .titulo {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 500px;
  }